* {
	font-family: Verdana;
	font-size: 10pt;
}

h1 {
	font-size: 16pt;
	font-weight: bold;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: 12pt;
	font-style: italic;
}

label {
	float: left;
	width: 100px;
}

#login {
	margin: 0 auto;
	width: 300px;
	background-color: #eee;
	border-color: #ddd;
	padding: 20px;
}

#login #mensaje {
	text-align: center;
	color: red;
	line-height: 3em;
}

#login div {
	clear: both;
	margin-bottom: 5px;
}

#login label {
	float: left;
	width: 100px;
}

#login .input {
	float: right;
	width: 200px;
}

#login #botones {
	margin-top: 20px;
	text-align: center;
}

#anuncio {
	position: absolute;
	top: 0;
	left: 50%;
}

#anuncio-content {
	position: relative;
	left: -25%;
	background-color: yellow;
	font-weight: bold;
	padding: 5px;
}

#encabezado {
	height: 22px;
	width: 100%;
	border-bottom: 1px solid black;
	clear: both;
}

#encabezado-izquierda {
	height: inherit;
	float: left;
}

#encabezado-derecha {
	height: inherit;
	float: right;
	text-align: right;
}

#encabezado-fin {
	height: 0;
	clear: both;
}

#acciones {
	padding-top: 10px;
	float: left;
	width: 150px;
	background-color: #eee;
	border-right: 1px solid #ccc;
	font-weight: bolder;
}

#acciones ul {
	margin-left: 5px;
	list-style-type: none;
}

#acciones li {
	line-height: 1.8em;
}

#main-content {
	margin-left: 160px;
	width: auto;
}

#tabla-mensajes {
	margin: 0 auto;
}

#tabla-mensajes th {
	background-color: #eee;
}

#tabla-mensajes td {
	text-align: center;
}

#mensaje-recuadro {
	margin: 10px auto;
	border: 1px solid #ddd;
	background-color: #eee;
}

#mensaje-recuadro div {
	vertical-align: middle;
	line-height: 2em;
}

#mensaje-recuadro label {
	font-weight: bold;
}

#direccionesPosibles ul {
	width: 180px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #7C7C7C;
	border-bottom: none;
}

#direccionesPosibles ul li {
	border-bottom: 1px solid #7C7C7C;
	border-top: 1px solid #FFF;
	background: #F4F4F4;
}