* {
	font-family: Verdana;
	font-size: 10pt;
}

h1 {
	font-size: 16pt;
	font-weight: bold;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
}

h3 {
	font-size: 12pt;
	font-style: italic;
}

label {
	float: left;
	width: 100px;
}

#anuncio {
	position: absolute;
	top: 0;
	left: 50%;
}

#anuncio-content {
	position: relative;
	left: -25%;
	background-color: yellow;
	font-weight: bold;
	padding: 5px;
}

#encabezado {
	height: 22px;
	width: 100%;
	border-bottom: 1px solid black;
	clear: both;
}

#encabezado-izquierda {
	height: inherit;
	float: left;
}

#encabezado-derecha {
	height: inherit;
	float: right;
	text-align: right;
}

#encabezado-fin {
	height: 0;
	clear: both;
}

#acciones {
	float: left;
	width: 150px;
	background-color: #FEFEFE;
	border-right: 1px solid black;
}

#main-content {
	float: right;
	margin-left: 151px;
	width: 100%;
}

#tabla-mensajes {
	width: 100%;
	/*width: auto;*/
}